
<div class="row" id="noora-nav">
  <a class="navbar-brand">
    <img alt="Brand" src="../images/NHlogo.png" width="155px" height="92px"/>
  </a>
  <ul class="nav navbar-nav navbar-right">
      <li><a class="nav-elements logout"><i class="fa fa-lg fa-mail-reply"></i>  Logout</a></li>
      <li><a class="nav-elements login"><i class="fa fa-lg fa-mail-reply"></i>  Login </a></li>
  </ul>
</div>
