<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <!-- bower:css -->
    <!--<link rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap.css' />-->
    <!-- endbower -->
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'> 
    <link rel='stylesheet' href='/stylesheets/lavish-bootstrap.css' />
  
  </head>
  <body>
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/handlebars/handlebars.js"></script>
    <!-- endbower -->
    
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="../javascripts/router.js"></script>
    <script type="text/javascript" src="../javascripts/models/Message.js"></script>
    <script type="text/javascript" src="../javascripts/views/MessageView.js"></script>
    <script type="text/javascript" src="../javascripts/views/NavbarView.js"></script>
    <script type="text/javascript" src="../javascripts/views/DonationForm.js"></script>
    <script type="text/javascript" src="../javascripts/views/LoginPage.js"></script>

    <script src="../javascripts/views/App.js"></script>
    <script type="text/x-handlebars-template" id="login-template">{{>login}}</script>
    <script type="text/x-handlebars-template" id="donation-form-template">{{>donationForm}}</script>
    
    <div class="container">
      {{>nav}}
      <div id="body">{{{body}}}</div>

    </div>
    
  </body>
</html>
