<!DOCTYPE html>
<html>
  <head>
    <title> Noora Health</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'> 
    <!--<link rel='stylesheet' href='/stylesheets/lavish-bootstrap.css' />-->
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />

    <script data-main="js/main"  src="../js/libs/require.js"></script>
    <!--<script  src="../js/libs/bootstrap/bootstrap.js"></script>-->
  </head>
  <body>
    
    <div class="container">
      <div id="nav"></div>
      <div id="message"></div>
      <div id="body"></div>
    </div>
    
    <div id="modal"></div>

    
    
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script>
      //Identifies the Stripe account
      Stripe.setPublishableKey('pk_test_y4XPVW7eG98vkn2FgtsonNYt');
    </script>

  </body>
</html>
