<script type="text/javascript">
  // This itentifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_y4XPVW7eG98vkn2FgtsonNYt');
</script>

<div class="row">
  <a class="navbar-brand">
    <img alt="Brand" src="../images/NHlogo.png" width="155px" height="92px"/>
  </a>
  <ul class="nav navbar-nav navbar-right">
    {{#if user}}
      <li><a href="/logout" class="nav-elements"><i class="fa fa-lg fa-mail-reply"></i>  Logout</a></li>
    {{else}}
      <li><a href="/login" class="nav-elements"><i class="fa fa-lg fa-mail-reply"></i>  Login </a></li>
    {{/if}}
  </ul>
</div>

<div class="row padding-bottom">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h3> You are about to make a donation to NooraHealth. This is some tagline about making
    a donation.</h3>
  </div>
</div>


<div class="row"> 
  <div class="col-lg-12 col-md-12 col-sm-12">

    <div class="pull-left fixed-panel">
      <img class="panel-img" src="http://grass-roots-science.info/VascularContent/Images/carecaregiver.png"/>
    </div>

    <div class="pull-right fixed-panel padding-top">
      <form role="form" class="form-inline" action="/donations/submit" method="POST" id="payment-form">

        <span class="payment-errors"></span>

        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 donation-field">
            <input class="donation-input" name="amount" placeholder= "0.00" size="6">
          </div>

          <div class="monthly-checkbox col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1">
            <input type="checkbox" name="monthly" size="20"/>
            <label> Make this donation monthly! </label>
          </div>
        </div>
      
        <div class="row form-row">
          <input type="text" class="no-border col-lg-12 col-md-12 col-sm-12" name="name" class="" placeholder="Full Name"/>
        </div>

        <div class="row form-row">
          <input  type="text" class="no-border col-lg-6 col-sm-6 col-md-6" name="email" class="" placeholder="Your Email"/>
        </div>

        <div class="row form-row">
          <input type="password"  class="no-border col-lg-5 col-sm-6 col-md-6" name="password" class="" placeholder="Password"/>
          <input type="password"  class="no-border col-lg-6 col-sm-6 col-md-6" name="confirm" class="" placeholder="Confirm Password"/>
        </div>
        
        <div class="row form-row">
          <input type="text" class="no-border col-lg-6 col-md-6 col-sm-6" size="20" class="" placeholder="Card Number" data-stripe="number"/>
          <input type="text" class="no-border col-lg-2 col-md-2 col-sm-2" size="4" class="" placeholder="CVC" data-stripe="cvc"/>
          <input type="text" id="expiration" class="no-border col-lg-4 col-md-4 col-sm-4" size="7" class="" placeholder="MM/YYYY" />
          
          <input type="hidden" value="" id="expmonth" data-stripe="exp-month"/>
          <input type="hidden" value="" id="expyear" data-stripe="exp-year"/>

        </div>

        <div class="row padding-top-sm">
          <input type="submit" class="btn btn-primary form-control" id="submit-form" value="DONATE" />
        </div>
      </form>
    </div>
  </div>
</div>
