<!DOCTYPE html>
<html>
  <head>
    <title> Noora Health</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'> 
    <link rel='stylesheet' href='/stylesheets/lavish-bootstrap.css' />
    <!--<link rel='stylesheet' href='/stylesheets/bootstrap.css' />-->

    <script data-main="js/main"  src="../js/libs/require.js"></script>
    <!--<script  src="../js/libs/bootstrap/bootstrap.js"></script>-->
  </head>
  <body>
    
    <div class="container">
      <div id="nav"></div>
      <div id="body"></div>
      <div id="modal"></div> 
    </div>
    
    <div class="row navbar-fixed-bottom padding-bottom-lg">
      <p class="silver text-center">Noora Health is a 501c3 non-profit</p>
    </div>
    
  </body>
</html>
