<script type="text/javascript">
  // This itentifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_y4XPVW7eG98vkn2FgtsonNYt');
</script>


<form role="form" action="/donations/submit" method="POST" id="payment-form">
  <span class="payment-errors"></span>
  <input class="hidden" name="donationAmount" value="">

  <div class="panel btn-group" id="donation-options" role="group" aria-label="...">
    <button type="button" class="btn btn-default" value="1000">$10</button>
    <button type="button" class="btn btn-default" value="2000">$20</button>
    <button type="button" class="btn btn-default" value="5000">$50</button>
    <button type="button" class="btn btn-default" value="10000">$100</button>
    <button type="button" class="btn btn-default" value="25000">$250</button>
    <button type="button" class="btn btn-default" value="50000">$500</button>
    <button type="button" class="btn btn-default" value="2000">$1000</button>
  </div>
 
  <div class="form-group">
      <label> Email </label>
      <input type="text" name="email" size="20"/>
  </div>
  
  <div class="form-group">
      <label>Card Number</label>
      <input type="text" size="20" data-stripe="number"/>
      
      <label>CVC</label>
      <input type="text" size="4" data-stripe="cvc"/>
  </div>

  <div class="form-group">
  </div>

  <div class="form-group">
      <label>Expiration (MM/YYYY)</label>
      <input type="text" size="2" data-stripe="exp-month"/>
    <label> / </label>
    <input type="text" size="4" data-stripe="exp-year"/>
  </div>

  <button type="submit" id="submit-form">Donate!</button>
</form>

