html, body, #container {
  height: 100%;
}

body > #container { height: auto; min-height: 100%; }

body {
  /*padding: 50px;*/
  font-size: 16px;
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 500;
  background-color: #F5FFFF !important;
  height: 100%;
}

input:-webkit-autofill {
  background-color: #FAFFBD !important;
}

input {
  background: #F5FFFF;
}

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
}

.donation-form-message {
  margin: -25px 0px 0px !important;
}

.nav-elements {
  color: #7BD0D0 !important;
  border: solid 1px #7BD0D0 !important;
  cursor: pointer;
  user-select:none;
  -moz-user-select: none;
  -o-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

.noora-carousel {
  position: relative;
  width: 100%;
  height: relative;
}

.end-tag {
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.text-inline {
  display: inline-block;

}

.monthly-checkbox {
  color: #ffd25c;
  font-size: 17px;
}

label {
  color: grey;
}

@media screen and (max-height: 800px) { 
  .navbar-fixed-bottom{
    position: relative !important;
    margin-top: 20px;
  }
} 

.skinny, .silver {
  font-weight: 400;
}

.donation-bar {
  width:14.28%;
  border-radius: 0px !important; 
  background-color: #ececec !important;
}

.donation-bar:hover {
  background-color: #78e95c !important;
}

.donation-bar:checked {
  background-color: #78e95c !important;
}

.silver {
  color: #bbabae !important;
  border-color: #bbabae !important;
}

.white-panel {
  height: 600px;
  padding: 2px;
}

.white-panel, .donation-card {
  background-color: #FFFFFF;
}

.scroll {
  overflow-y: scroll;
}

.donation-card {
  padding: 10px;
}

.donation-card input:not([type='submit']) {
  background-color: #FFFFFF;
}

.donation-card input[type='submit'] {
  height: 40px;
  font-size: 20px;
}
 
/*#login-form {*/
  /*padding-left: 40px;*/
  /*padding-right: 40px;*/
/*}*/

.btn-group {
  width:100% !important;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

h3, .h3 {
  font-size: 27px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 500;
  line-height: 1.1;
}

.navbar-blue {
  background-color: #F5FFFF;
}

@media screen (max-width:768) {
  #container {
    padding: 0px 0px 0px 0px !important;
  }
}

@media screen (min-width:769) {
  #container {
    padding: 0px 80px 0px 80px !important;
  }
}

.form-row {
  border-bottom: solid 1px black;
  padding: 20px 20px 5px 0px;
  border-color: #BBABAE;
}

.monthly-checkbox {
  padding-top: 7px;
}

.donation-field {
  color: #ffd25c;
  padding: 5px;
  border: solid 2px;
  height: 40px;
  width: 115px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.donation-input {
  border: 0px;
  position: relative;
  left: 10px;
  top:1px;
  font-size: 16px;
}

.donation-field:before {
  content: "$";
}

.donation-field .donation-input {
  position:relative;
}

.banner {
 padding-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .fixed-panel {
    width: 100%;
    height: 451px;
  }
}

@media screen and (min-width: 1200px) {
  .fixed-panel {
    width: 50%;
    height: 451px;
  }
}*/

.padding-bottom {
  padding-bottom: 30px;
}

.padding-bottom-lg {
  padding-bottom: 50px;
}

.padding-bottom-sm {
  padding-bottom: 10px;
}

.padding-top {
  padding-top: 30px;
}

.padding-top-sm {
  padding-top: 10px;
}

.bold {
  /*opacity: 0.2;*/
  color: #ffd25c;
}

.navbar-transparent {
  background-color: transparent !important;
  border-color: transparent !important;
}

#login-img div{
  background-image: url('../images/silkbaby.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  /*border: solid #BBABAE 1px;*/
}

@media screen and (max-width: 767px) {
  .screen-lg {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .screen-sm {
    display: none;
  }
}
.width-btn {
  width: 14% !important;
}

.height-auto {
  height: auto !important;
}

.text-contain {
  text-align: center !important;
  padding: 0px 0px !important;
}

/*@media screen and (max-width: 767px) {
  .btn-responsive {
    padding:2px 4px !important;
    font-size:80%;
    line-height: 1;
  }
}

@media screen and (min-width: 768px) {
  .btn-responsive {
    padding:4px 9pxi !important;
    font-size:90%;
    line-height: 1.2;
  }
}*/

.btn {
  width: 20%;
}

.no-border {
  width:100%;
  border:0px !important;
  box-shadow: none !important;
}

a {
  color: #00B7FF;
}

*:focus{
 outline: none;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  line-height: 46px;
}
textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn,
select[multiple].input-group-lg > .form-control,
select[multiple].input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-btn > .btn {
  height: auto;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px;
}
textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn,
select[multiple].input-group-sm > .form-control,
select[multiple].input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-btn > .btn {
  height: auto;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn > .btn + .btn {
  margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-left: -1px;
}

.inline-block {
  display: inline block;
}

.btn-toolbar > .input-group {
  margin-left: 5px;
}
.btn-toolbar .input-group {
  float: left;
}
@media (min-width: 768px) {
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
}
.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.has-success .input-group-addon {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #8a6d3b;
}
@media (min-width: 768px) {
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn,
  .navbar-form .input-group .form-control {
    width: auto;
  }
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
}
