body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  padding-top: 80px;
}

.form-row {
  border-bottom: solid 1px black;
  padding: 20px 20px 5px 0px;
  border-color: #D0C0A4;
}

label {
  opacity: 0.2;
}

input {
  /*width:100%;*/
  border:0px;
}

a {
  color: #00B7FF;
}

*:focus{
 outline: none;
}
