<div class="btn-toolbar" role="toolbar" aria-label="...">
  <div class="btn-group" role="group" aria-label="...">
    <button name="donationBar" type="button" class="btn btn-default" value="5.00">$5</button>
    <button name="donationBar" type="button" class="btn btn-default" value="10.00">$10</button>
    <button name="donationBar" type="button" class="btn btn-default" value="25.00">$25</button>
    <button name="donationBar" type="button" class="btn btn-default" value="50.00">$50</button>
    <button name="donationBar" type="button" class="btn btn-default" value="100.00">$100</button>
    <button name="donationBar" type="button" class="btn btn-default" value="250.00">$250</button>
    <button name="donationBar" type="button" class="btn btn-default" value="500.00">$500</button>
    <button name="donationBar" type="button" class="btn btn-default" value="1000.00">$1000</button>
  </div>
</div>
