
<form  role='form' id="edit-membership-form">  
  
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      I would like to give
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-3 donation-field">
      <input class="donation-input" name="amount" placeholder= "0.00" size="6" value="{{toDollars amount}}">
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-3">
      per month
    </div>
  </row>
</form>
