<div >
  <form role="form" class="form-inline"  id="give-again-form">
    {{>donationBar}}

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 donation-field">
        <input class="donation-input" name="amount" placeholder= "0.00" size="6">
      </div>

      <div class="monthly-checkbox col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1">
        <input type="checkbox" name="monthly" size="20"/>
        <label> Make this donation monthly! </label>
      </div>
    </div>
  </form>
</div>
