
<p class="message-box">Please log in to your donor profile</p>

<form  role='form' id="login-form">  
  <div class="row form-row">
    <label class="skinny">Your Email</label>
    <input type="email" class="no-border form-control" id="email" name='email' placeholder="donor@noorahealth.org">
  </div>
  <div class="row form-row">
    <label class="skinny">Password</label>
    <input type="password" class="no-border form-control" id="password" name='password' placeholder="******">
  </div>
</form>
