<div class="row">

  {{#donatesMonthly this}}
    <div class="col-lg-6 col-sm-6 col-md-6">
      <h2>You give <span class="label label-default">{{toDollars this.amount}}</span> each month.</h2>
      <button class="btn btn-default form-control" id="edit-membership">Edit My Membership</button>
      <a id="cancel-membership" class="silver">Cancel my monthly membership </a>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5">
  {{/donatesMonthly}}
    
  <h4> <em>Donation History</em> </h4>
    <table class="table">
      <tr>
        <th>Donation</th>
        <th>Date</th>
      </tr>
      {{#each donations}}
      <tr>
        <td>{{toDollars this.amount}}</td>
        <td>{{timestampToString this.created}}</td>
      </tr>
      {{/each}}
    </table>
    
  {{#donatesMonthly this}}
    </div>
  {{/donatesMonthly}}
</div>
