<div class="row">
  
  <div class="row">
    <div class="fixed-panel pull-left">

    {{#donatesMonthly this}}
      <div class="row">
          <h2>You give <span class="label label-primary">{{toDollars this.amount}}</span> each month.</h2>
          <button class="btn btn-default form-control" id="edit-membership">Edit My Monthly Donation</button>
          <a id="cancel-membership" class="silver">Cancel my Monthly Donation </a>
      </div>
    {{/donatesMonthly}}
      <button id="give-again" class="btn btn-default form-control" {{#donatesMonthly this}} style="visibility:hidden"  {{/donatesMonthly}}>Give Again</button> 
      <div class="row">
        <h4 class="silver"> <em>Donation History</em> </h4>
        <table class="silver table">
          <tr>
            <th class="silver">Donation</th>
            <th class="silver">Date</th>
          </tr>
          {{#each donations}}
          <tr>
            <td class="silver">{{toDollars this.amount}}</td>
            <td class="silver">{{timestampToString this.created}}</td>
          </tr>
          {{/each}}
        </table>
      </div>
    </div>

      <div class="pull-right fixed-panel">
        <img class="noora-carousel panel-img" src="images/console1.jpg"/>
        <img class="noora-carousel panel-img" src="images/console2.jpg"/>
        <img class="noora-carousel panel-img" src="images/console3.jpg" />
        <img class="noora-carousel panel-img" src="images/console4.jpg" />
        <img class="noora-carousel panel-img" src="images/console5.jpg"  />
      </div>
    </div>

    
</div>
