<div class="row">
  <div class="text-left col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <p><b>Name</b></p>
  </div>
  <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
    <p class=text-inline>{{metadata.name}}</p>
  </div>
</div>

<div class="row">
  <div class="text-left col-lg-2 col-xs-2 col-sm-2 col-md-2">
    <p><b>Email</b></p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-7 col-xs-7">
    <p>{{email}}</p>
  </div>
  <div class="col-lg-4 col-sm-3 col-md-4 col-xs-3">
    <p> <a id="change-email" class="silver skinny">Change Email</a> </p>
  </div>
</div>

<div class="row">
  <div class="text-left col-lg-2 col-sm-2 col-md-2 col-xs-2">
    <p><b>Payment Info</b></p>
  </div>
  <div class="col-lg-6 col-sm-7 col-md-6 col-xs-7">
    <p>{{getCardInfo this}}</p>
  </div>
  <div class="col-lg-4 col-sm-3 col-md-4 col-xs-3">
    <p> <a id="change-payment-info" class="silver skinny">Change Payment Info</a> </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-sm-3 col-md-4 col-xs-3 col-lg-offset-8 col-md-offset-8 col-sm-offset-9">
    <p><a id="change-password" class="silver skinny">Change Password</a></p>
    <!--<button class="btn btn-default" id="change-password">Change Password</button>-->
  </div>
</div>
