<div class="row">
  <div class="col-lg-2 col-sm-2 col-md-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
    <p><b>Name</b></p>
  </div>
  <div class="col-lg-4 col-sm-4 col-md-4">
    <p>{{metadata.name}}</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-sm-2 col-md-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
    <p><b>Email</b></p>
  </div>
  <div class="col-lg-3 col-sm-3 col-md-3">
    <p>{{email}}</p>
  </div>
  <div class="col-lg-2 col-sm-2 col-md-2">
    <p> <a id="change-email" class="silver skinny">Change</a> </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-sm-2 col-md-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
    <p><b>Payment Info</b></p>
  </div>
  <div class="col-lg-3 col-sm-3 col-md-3">
    <p>{{getCardInfo this}}</p>
  </div>
  <div class="col-lg-2 col-sm-2 col-md-2">
    <p> <a id="change-payment-info" class="silver skinny">Change</a> </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-sm-3 col-md-3 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
    <p><a id="change-password" class="silver skinny">Change My Password</a></p>
    <!--<button class="btn btn-default" id="change-password">Change My Password</button>-->
  </div>
</div>
