<div class="modal fade" id="change-payment-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change your payment information</h4>
      </div>
      <div class="modal-body">
        <div id="change-payment-message"></div>
        <form id="change-payment-form">

            <div class="row">
                <p><b>Current Payment Information</b></p>
            </div>
            <div class="row">
                <p class="silver">{{getCardInfo this.donor}}</p>
            </div>

            <div class="row padding-top">
              <p><b>New Payment Information</b></p>
            </div>

            <div class="row">
              <div class="row form-row">
                <input type="text" class="no-border col-lg-6 col-md-6 col-sm-6 col-xs-12" size="20" class="" placeholder="Card Number" data-stripe="number"/>
              </div>

              <div class="row form-row">
                <input type="text" class="no-border col-xs-4" size="4" class="" placeholder="CVC" data-stripe="cvc"/>
                <input type="text" id="expiration" class="no-border col-xs-8" size="7" class="" placeholder="exp (MM/YYYY)" />
              </div>

              <input type="hidden" value="" id="expmonth" data-stripe="exp-month"/>
              <input type="hidden" value="" id="expyear" data-stripe="exp-year"/>
            </div>
          <!-- END DIV id="change-payment-form" -->
        </form>

        {{>successMessage}}
      </div>
      <div class="modal-footer">
        <button type="button" class="text-contain btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="submit-payment-changes" class="text-contain btn btn-primary">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
