<div class="modal fade" id="change-password-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change Your Password</h4>
      </div>
      <div class="modal-body">
        <div id="change-password-message"></div>
        {{>changePasswordForm}}
        {{>changePasswordSuccessMessage}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="submit-change-password" class="btn btn-primary" value="LOGIN">SUBMIT CHANGE</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

