

<div class="row padding-bottom-lg">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h3 class="text-center font-size-responsive" id="screenMessage"></h3>
  </div>
</div>

<div class="row"> 
  <div class="col-lg-12 col-md-12 col-sm-12">

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 screen-lg hidden-sm hidden-xs" id="login-img">
        <div> </div>
    </div>

    <div class="panel col-md-6 col-lg-6 donation-card height-auto">

      <div id="form-message" class="text-center"></div>
      
      {{>donationBar}}
      <form role="form" class="form-inline" action="/donations/submit" method="POST" id="donation-form"> 
        <div> <p class="message-box" id="message-box"> </p></div>

        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 donation-field">
            <input class="donation-input" name="amount" placeholder= "0.00" size="7">
          </div>

          <div class="monthly-checkbox silver col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1">
            <input type="checkbox" name="monthly" size="20"/> Make this donation monthly!
          </div>
        </div>
      
        <div class="row form-row">
          <input type="text" class="no-border col-lg-12 col-md-12 col-sm-12" name="name" class="" placeholder="Full Name"/>
        </div>

        <div class="row form-row">
          <input  type="text" class="no-border col-lg-6 col-sm-6 col-md-6" name="email" class="" placeholder="Your Email"/>
        </div>
        
        <div class="row form-row hidden-xs">
          <input type="text" class="no-border col-lg-6 col-md-6 col-sm-6 col-xs-12" size="20" class="" placeholder="Card Number" data-stripe="number"/>
          <input type="text" class="no-border col-lg-2 col-md-6 col-sm-2 col-xs-12" size="4" class="" placeholder="CVC" data-stripe="cvc"/>
          <input type="text" id="expiration" class="no-border col-lg-4 col-md-4 col-sm-4 col-xs-12" size="7" class="" placeholder="exp (MM/YYYY)" />
        </div>

        <div class="row form-row visible-xs">
          <input type="text" class="no-border col-lg-6 col-md-6 col-sm-6 col-xs-12" size="20" class="" placeholder="Card Number" data-stripe="number"/>
        </div>
        <div class="row form-row visible-xs">
          <input type="text" class="no-border col-xs-4" size="4" class="" placeholder="CVC" data-stripe="cvc"/>
          <input type="text" id="expiration" class="no-border col-xs-8" size="7" class="" placeholder="exp (MM/YYYY)" />
        </div>
       
       <div class="row padding-top-sm">
          <input type="checkbox" name="newsletter"/>
          <label class="silver">Sign me up for Noora Health's newsletter</label>
        </div>        
        
        <div class="row padding-top-sm">
          <input type="submit" class="btn btn-primary form-control" id="submit-donation" value="DONATE"/>
        </div>
      
        <div class="end-tag row padding-top-sm">
          <img src="images/outline.png"/>
        </div>
      </form>
    </div>
  </div>
</div>

