<script type="text/x-handlebars-template" id="donor-console-template">
  <div><p id="message-box" class="message-box"></p></div>
  <p>This is where the donor console will go</p>
  <p>email{{donor.email}}</p>
  <p>this.email {{this.email}}</p>
  <p>donor {{email}}</p>
</script>
