  <div><p id="message-box" class="message-box"></p></div>
  
  <div class='donor-info'>
    <ul class="nav nav-pills nav-justified">
      <li role="presentation" class="active"><a href="#membership" data-toggle="tab" role="tab" id="membership-tab">Your Membership</a></li>
      <li role="presentation" class="" ><a href="#personalinfo" data-toggle="tab" role="tab" id="personal-info-tab" >Personal Information</a></li>
      <li role="presentation" class=""><a href="#changepassword" data-toggle="tab" role="tab" id="change-password-tab">Change Password</a></li>
    </ul>

    <br/>
    
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="personalinfo">
          {{>personalInfoTab}}
        </div>

        <div role="tabpanel" class="tab-pane" id="changepassword">
          {{>changePasswordForm}}
        </div>

        <div role="tabpanel" class="tab-pane active" id="membership">
          {{>membershipTab}}
        </div>

    </div>
  </div>
