<div><p id="console-message" class="message-box"></p></div>

<div class="row">
  <div class="white-panel container height-auto scroll">    
  
    <div class="donor-info panel fixed-panel pull-left">
      <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="#membership" data-toggle="tab" role="tab" id="membership-tab">Your Membership</a></li>
        <li role="presentation" class="" ><a href="#personalinfo" data-toggle="tab" role="tab" id="personal-info-tab" >Account Information</a></li>
      </ul>

      <br/>
    
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="personalinfo">
          {{>personalInfoTab}}
        </div>

        <div role="tabpanel" class="tab-pane active" id="membership">
          {{>membershipTab}}
        </div>
      </div>
    </div>
  
    <div class="overlap pull-right fixed-panel screen-lg">
       <div><img class="noora-carousel panel-img" src="images/console1.jpg"/></div>
       <div><img class="noora-carousel panel-img" src="images/console2.jpg"/></div>
       <div><img class="noora-carousel panel-img" src="images/console3.jpg"/></div>
       <div><img class="noora-carousel panel-img" src="images/console4.jpg"/></div>
       <div><img class="noora-carousel panel-img" src="images/console5.jpg"/></div>
    </div>
  </div>
</div>
