
<div class="modal fade" id="give-again-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Every dollar you donate helps an entire family in need</h4>
      </div>
      <div class="modal-body">
        <div id="give-again-message"></div>
        {{>giveAgainForm}}
        {{>successMessage}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="submit-give-again" class="btn btn-primary">DONATE</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

