
  <div class="row">
    <a class="navbar-brand">
      <img alt="Brand" src="../images/NHlogo.png" width="155px" height="92px"/>
    </a>
    <ul class="nav navbar-nav navbar-right">
      {{#if donorConsole}} 
        <li><a class="nav-elements gotoConsole btn-default"><i class="fa fa-lg fa-mail-reply"></i>  My Donor Profile </a></li>
      {{/if}}
      
      {{#if logout}}
        <li><a class="nav-elements logout btn-default"><i class="fa fa-lg fa-mail-reply"></i>  Logout</a></li>
      {{/if}}  
      
      {{#if login}}
        <li><a class="nav-elements login btn-default" ><i class="fa fa-lg fa-mail-reply"></i>  Login </a></li>
      {{/if}}
    </ul>
  </div>
