<div class="row">
<h3> Thank you for your donation! You are the <strong>{{numberWithSuffix count}}</strong> person to 
  join Noora Health!</h3>
</div>
<div class="row">
    <div class="pull-left fixed-panel">
      <img class="panel-img" src="./images/silkbaby.png"/>
    </div>

    <div class="pull-right fixed-panel">
      <h4 class="silver" style="padding-top:100px"> Every dollar you donate enables an entire family to care for their loved one.</h4>
    </div>
</div>
