<div class="row">
  <h3 class="text-center"> Thank you for your donation!</h3>
</div>

<div class="row padding-bottom">
  <h3 class="text-center">You are the <strong>{{numberWithSuffix count}}</strong> person to 
  join Noora Health</h3>
</div>

<div class="row padding-bottom">
  <img class="panel-img img-size-responsive" src="./images/youarethe_member.jpg"/>
</div>

<div class="text-contain row">
  <h4 class="silver text-center"> Every dollar you donate enables Noora Health to train a family caregiver.</h4>
</div>
